<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Out Of Service</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="logo">Logo</div>
      <div class="nav-items">
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact Us</a>
      </div>
    </nav>
    <div class="sorry">
        <img src="sorry.png"/>
      <h1 class="sorry-msg">
        Sorry, our website is only available during working hours (Monday to
        Friday, from 9 AM to 5 PM).
      </h1>
    </div>
  </body>
</html>
