<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Our Services</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="logo">Logo</div>
      <div class="nav-items">
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact Us</a>
      </div>
    </nav>
    <h1>Our Services</h1>
    <h2>Here's a list of the services we offer:</h2>
    <ul>
      <li>
        <p class="s-title">Service 1:</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.<br/> Debitis,
          esse.
        </p>
      </li>
      <li>
        <p class="s-title">Service 2:</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.<br/> Debitis,
          esse.
        </p>
      </li>
      <li>
        <p class="s-title">Service 3:</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.<br/> Debitis,
          esse.
        </p>
      </li>
    </ul>
  </body>
</html>
